body{
  margin: auto 0;
}
header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  background-color: aqua;
}
.charac{
  padding: 2em;
}
header img{
  transition: width 1s; color:blue 1s;
}
.nameS{
  transition: font-size 1s;
  text-align: center;
}
header img:hover{
  width: 330px;
}
.nameS:hover{
  font-size: 2em;
}
nav{
  background-color: blueviolet;
}
ul{
  display: flex;
  padding: 1em;
    font-size: 1.2em;
    margin: auto;
}
nav li{
  flex: 1 1 auto;
}
nav a{
  text-align: center;
  transition-duration: 1s;
  color: aliceblue;
  display: block;
  text-decoration: none;
}
nav a:hover{
  font-size: 1.2em;
  font-style: bold;
}
li{
  list-style: none;
}
main{
  margin: 0 auto;
    max-width: 900px;
}
article img{
  width: 500px;
  height: auto;
  float: left;
}