.et_pb_testimonial_0.et_pb_testimonial {
    text-align: center;
    color: #9A181E;
}
  
.et_pb_blurb_description{
  color: #9A181E;
}
.et_pb_gallery_image img {
 border:solid 5px #9A181E;
  padding: 10px;
}
.percent-value{
  color: #9A181E;
}
.et_pb_cta_0.et_pb_promo, .et_pb_signup_0.et_pb_subscribe {
  background-color: #9A181E;
}
#main-footer{
  background-color: #9A181E;
}
#footer-info{    
    color: white;
}